.crypto-container {
  display: flex;
  flex-wrap: wrap;
}

.btns-container {
  flex: 1 1 0;
  display: flex;
}

.btn {
  flex: 1 1 0;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #18643e;
  color: rgb(187, 187, 187);
  border-radius: 1px;
  border: none;
  border-right: none;
  margin: 1rem 0rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 500;
  outline: none;
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

.active:hover {
  transform: translateY(-2px);
}

.remove-container {
  position: relative;
}

.btn-remove {
  margin: 1rem 0.5rem 1rem 0;
  border: none;
  border-left: none;
  background-color: rgb(17, 17, 17);
  color: rgb(180, 180, 180);
  font-size: 1rem;
  border-radius: 1px;
  font-weight: 500;
  padding: 0.1rem 1rem;
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.btn-remove:hover {
  opacity: 1;
  background-color: rgb(175, 57, 57);
}

.active-remove {
  opacity: 1;
}

.active-remove:hover {
  background-color: rgb(175, 57, 57);
}
