.crypto-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.btns-container {
  flex: 1 1 0;
  display: flex;
  transition: transform 0.3s;
}

.btns-container:hover {
  transform: translateY(-2px);
}

.btn {
  flex: 1 1 0;
  font-size: 1.1rem;
  padding: 0.5rem;
  background-color: rgb(99, 219, 99);
  color: rgb(25, 32, 88);
  font-family: "Ubuntu", sans-serif;
  border-radius: 1px;
  border: none;
  border-right: none;
  margin: 1rem 0rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  opacity: 1;
  background-color: rgb(106, 248, 106);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.active {
  opacity: 1;
}

.btn-remove {
  margin: 1rem 0.5rem 1rem 0;
  border: none;
  border-left: none;
  background-color: rgb(17, 17, 17);
  color: rgb(180, 180, 180);
  font-size: 1rem;
  border-radius: 1px;
  cursor: pointer;
  font-weight: 500;
  padding: 0.1rem 0.9rem;
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.btn-remove:hover {
  opacity: 1;
  background-color: rgb(175, 57, 57);
}

.active-remove {
  opacity: 1;
}

.active-remove:hover {
  background-color: rgb(175, 57, 57);
}
