.form-container {
  display: flex;
  background-color: rgb(44, 57, 70);
  width: 250px;
  padding: 0.8rem;
}

.input-search {
  width: 200px;
  background-color: transparent;
  border: none;
  color: #aaa;
  border-radius: 4px;
  font-size: 1.2rem;
  outline: none;
}

.btn-search {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  outline: none;
}

.search-icon {
}
