@import url("https://fonts.googleapis.com/css?family=Raleway");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  background-color: var(--color-primary-0);
  overflow-x: hidden;
}

:root {
  --font: "Montserrat", sans-serif;

  --color-primary-0: #242f39;
  --color-primary-1: #1a2531;

  --color-secundary-0: #2fb0c7;
  --color-secundary-1: #1a2129;

  --color-text-0: #ffffff;
}

[data-theme="light"] {
  --color-primary-0: #f6f6f6;
  --color-primary-1: #e2e2e2;

  --color-secundary-1: #ffffff;

  --color-text-0: #222222;
}
